@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto:wght@900&display=swap');
*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: Montserrat, verdana, arial, sans-serif;
}
html 
{
    height: 100vh;
}
body 
{
    height:100%;
}
#heading 
{
    background-color: #763241;
    grid-area: heading;
    position:sticky;
    top: 0px;
    left:0px; 
}
#heading>h1 
{
    font-family: Roboto, verdana, aerial;
}
#menu 
{
    grid-area: menu;
    background-color: #C09F80;
    padding-right: 30px;
    padding-top: 10px;
    height: 600px;
}
#content 
{
    grid-area: content;
    height:100%;
    background-color: bisque;
    padding:20px;
    height:600px;
    overflow: scroll;
    scrollbar-width: none;
}  
#content>h2 
{
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 1px solid brown;
    margin-bottom: 10px;
    font-family: Roboto, verdana, aerial;
}
#courses
{
    display: flex;
    gap:10px;
}
#courses>div>div>img 
{
    height:100px;
    width:100px;
    border-radius: 100px;
}
.course
{
    display: flex;
    width:50%;
    gap:10px;
    border:2px solid black;
    padding:10px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #ffe4c4, #d6c0a5, #af9d87, #8a7b6a, #665b4e);
}
.course-info>h2
{
    font-size: 2em;
    border-bottom: 1px solid black;
}
#content>p 
{
    text-align: justify;
    line-height: 150%;
    text-indent:25px;
    margin-bottom: 10px;
}
#sidebar 
{
    grid-area: sidebar;
    background-color: #C09F80;
    height:100%;
    height: 600px;
}
#footer 
{
    background-color: #565656;
    padding:20px;
    grid-area: footer;
    position:sticky;
    bottom: 0px;
    left:0px; 
}
#footer p 
{
    text-align: center;
    color:white;
}
#site 
{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 6fr 1.5fr;
    grid-template-rows: 2fr 7fr 1fr;
    grid-template-areas:
    "heading heading heading"
    "menu  content sidebar"
    "footer  footer footer";
}
#heading 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:10px;
    padding-right:10px;
}
#heading>ul 
{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
#heading>ul>li>a:link ,#heading>ul>li>a:visited
{
    text-decoration: none;
    color:#FFE4C4;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: Roboto, verdana, aerial;
    letter-spacing: 2px;
}
#heading>h1 
{
    color:#FFE4C4;
    font-size: 2em;
    text-shadow: 3px 3px 7px white;
    font-family: Roboto, verdana, aerial;
}
#menu>ul>li 
{
    background-color: #FFE4C4;
    margin-bottom: 10px;
    padding:5px 10px;
    border-radius:0px 10px 10px 0px;
    box-shadow: 3px 3px 5px black;
}
#menu>ul>li>a:link 
{
    text-decoration: none;
    font-weight: bold;
    color:brown;
}
.news 
{
    background-color: #d9c5b2;
    margin:10px;
    padding:10px;
}
.news>h3 
{
    text-transform: uppercase;
    font-size: 1.2em;
    border-bottom:1px solid black;
    margin-bottom:5px;
}
.news>p>a:link 
{
    margin-top:10px;
    background-color: #763241;
    color:white;
    padding:10px;
    display: block;
    text-transform: uppercase;
}
