*
{
    margin:0px;
    padding:0px;
    letter-spacing: 1px;
    box-sizing: border-box;
}
  /* ##Device = Desktops ##Screen = 1281px to higher resolution desktop */
  @media (min-width: 1281px) {
    /* code in this block will be applied only if device width>1281 */
        body 
        {
            background-color: yellow;   
            color:red;
        }
    }

  /* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
  @media (min-width: 1025px) and (max-width: 1280px) 
  {
    /* code in this block will be applied only if device width>1025 and <1280 */
    body 
    {
        background-color: blue;
        color:white;
    }
  }
  
  /* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
  @media (min-width: 768px) and (max-width: 1024px) {
    /* code in this block will be applied only if device width>768 and <1024 */
    body 
    {
        background-color: pink;
        color:brown;
    }
  }
  /* ##Device = Low Resolution Tablets,  ##Screen = B/w 481px to 767px */
  @media (min-width: 481px) and (max-width: 767px) {
    /* code in this block will be applied only if device width>481 and <767 */
    body 
    {
        background-color: gray;
        color:yellow;
    }
  }
  
  /*  ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px */ 
  @media (min-width: 320px) and (max-width: 480px) {
    /* code in this block will be applied only if device width>320 and <480 */
    body 
    {
        background-color: purple;
        color:white;
    }
  }